<%= render "shared/header" %>
 <body>
    
<main>
<% if @user.url.present? %>
  <div class="container py-4">
    <div class="text-image">
      <%= image_tag @user.image, class:"text-image" if @user.image.attached? %> 
      <div class='artist_name'><%= @user.artist_name %>
      </div>
    </div>
    <div class= "content_space">
      <div class='movie'>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%= @user.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class='profile'>
        <div class='artist_profile'><p>プロフィール</p><%= @user.profile %></div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container py-4">
    <div class="text-image">
      <%= image_tag @user.image, class:"text-image" if @user.image.attached? %> 
      <div class='artist_name'><%= @user.artist_name %>
      </div>
    </div>
    <div class= "content_space">
      <div class='not_url_profile'>
        <div class='artist_profile'><p>プロフィール</p><%= @user.profile %></div>
      </div>
    </div>
    <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @events.each do |event| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to event_path(event.id) do %>
              <%= image_tag event.image.variant(resize: '100%x80%'), class: "bd-placeholder-img card-img-top"  if event.image.attached? %> 
            <% end %>
                <div class="card-body">
                <h6><%= event.title %></h6>
                    <p class="small"><%= "#{event.content.first(53)}..." %></p>
                      <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      <small class="text-muted">場所<br><%= event.place %></small>
                    </div>
                    <small class="text-muted">開催日<br><%= event.date%></small>
                  </div>
              </div>
          </div>
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
    <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @events.each do |event| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to event_path(event.id) do %>
              <%= image_tag event.image.variant(resize: '100%x80%'), class: "bd-placeholder-img card-img-top"  if event.image.attached? %> 
            <% end %>
                <div class="card-body">
                <h6><%= event.title %></h6>
                    <p class="small"><%= "#{event.content.first(53)}..." %></p>
                      <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      <small class="text-muted">場所<br><%= event.place %></small>
                    </div>
                    <small class="text-muted">開催日<br><%= event.date%></small>
                  </div>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</main>
 <%= render "shared/footer" %>
 
  </body>