<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Evesic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <% if user_signed_in? %>
              <li><%= link_to 'Like', "#", class: "nav-link px-2 text-white" %></li>
              <li><%= link_to 'MyPage', "/users/#{current_user.id}", class: "nav-link px-2 text-white" %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link px-2 text-white" %></li>
          <% else %>
              <%= link_to 'Login', new_user_session_path, class: "nav-link px-2 text-white" %>
              <%= link_to 'Sign-up', new_user_registration_path, class: "nav-link px-2 text-white" %>
          <% end %>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= form_with(url: search_events_path, local: true, method: :get, class: "d-flex") do |form| %>
          <%= form.text_field :keyword, placeholder: "Search", class: "form-control me-2" %>
          <%= form.submit "Search", class: "btn btn-outline-success" %>
        <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>